    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="cdcavell.name" />
    <meta property="og:image" content="https://cdcavell.name/img/thumbnail.png" />
    <meta property="og:url" content="https://blog.cdcavell.name/">
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="912870229223717" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@@Christo52186463" />
    <meta property="twitter:creator" content="@@Christo52186463" />
    <meta property="twitter:description" content="General ramblings from yet another blog site." />
    <meta property="twitter:image" content="https://cdcavell.name/img/twitter-thumbnail.png" />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google-site-verification" content="v2DPETQobg3Ip1zEugzvNdHM9-oqH5TdPKq2ycrn1w0" />

